.header-modal {
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    padding: 2rem;
    gap: 1rem;
    z-index: 99990;
    overflow: auto;
    opacity: 1;
    transform: scale(1);
}

.modal-close-btn {
    cursor: pointer;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    height: 1.5rem;
    width: 1.5rem;
}

.website-logo {
    width: 14rem;
}

.modal-caption {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.modal-caption-img {
    width: 10rem;
    height: 10rem;
}

.modal-caption-text {
    /* font-family: 'DM Sans', sans-serif; */
    font-weight: 500;
    font-size: 2rem;
}

.email-password-modal {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.email-id-input,
.password-input {
    width: 90%;
    height: 4rem;
    box-sizing: content-box;
    padding-left: 1.5rem;
    /* font-family: 'DM Sans', sans-serif; */
    border-radius: 0.5rem;
    border: 0.1rem solid #7A869A;
}

.login-in-btn-modal {
    width: 95%;
    height: 4rem;
    font-family: 'DM Sans', sans-serif;
    background: green;
    /* background: #EC5353; */
    color: #fff;
    /* border-color: #EC5353; */
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
}

.first-time-user-modal {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #253858;
}

.sign-up-modal {
    color: #EC5353;
    cursor: pointer;
}